
{{!-- <h2>ĐĂNG KÝ KHÓA HỌC LẬP TRÌNH WEB CỦA TRẦN KHẮC NHU</h2> --}}

<h2>ĐĂNG KÝ KHÓA HỌC LẬP TRÌNH WEB CỦA TRẦN KHẮC NHU</h2>
<form action="/courses/store" method="post">
    <div class="form-group">
        <label for="name">TÊN KHÓA HỌC</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Nhập khóa học muốn học">
    </div>
    <div class="form-group">
        <label for="description">MÔ TẢ</label>  
        <input type="text" class="form-control" id="description" name="description" placeholder="Nhập mô tả muốn học">
    </div>
    <div class="form-group">   
        <label for="videoID">VIDEOID</label>
        <input type="text" class="form-control" id="videoID" name="videoID" placeholder="Nhập video bạn muốn học">
    </div>
    <div class="form-group">
        <label for="level">TRÌNH ĐỘ</label>
        <input type="text" class="form-control" id="level" name="level" placeholder="Nhập trình độ muốn học">
    </div>
    <button type="submit" class="btn btn-primary">Thêm Khóa Học</button>
</form>

<br>



   