<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class = "navigation">
        <ul>
            <li>
                <a> 
                    HOME    
                </a>    
            </li>

            <li>
                <a>
                    ABOUT
                </a>

            </li>
            <li>
                <a>
                    SEARCH
                </a>

            </li>
            <li>
                <a> 
                    INFORMATION
                </a>
            </li>
        </ul>
    </nav>

    <aside>
        <div class = "listitem" >
            <div class = "item">
                tui giay so 1
            </div>
            <div class = "item">
                tui sach so 2
            </div>
            <div class = "item">
                giay da bong so 3
            </div>
            <div class = "item">
                gan tay so 4
            </div>
            <div class = "item">
                kinh deo so 5
            </div>
            <div class = "item">
                giay the thao so 6
            </div>
            <div class = "item">
                nhan deo tren co tay
            </div>
            <div class = "item">
                but chi di hoc
            </div>
        </div>
    </aside>

    <div class = "modal">
    <form acttion = "/" method = "POST">

        <div>

            <label for = "user">TEN DANG NHAP</label>
            <input type = "text" name = "user">
        </div>
        <div>

            <label for = "password">
                MAT KHAU 
            </label>
            <input type="password" name = "passwordnew" placeholder="ban can dang nhap mat khau">
        </div>

        <div>
            MONG BAN HAY TUAN THU CAC QUY TAC CUA SHOP TRAN KHAC NHU ĐÃ ĐỀ RA VÀ CAM KẾT KHÁCH HÀNG
        </div>

        </form>
    </div>

    <div>   
        <img src = "" alt = "">
        <div class = "production"> Tui sach Trung Quoc</div>
        <button> Mua Hang </button>
        <div class = "" >Bạn hãy đánh giá sản phẩm của chúng toi</div>    
    </div>

    <div>
        <img src = "" alt = "">
        <div class = "production">
            Tui sach Tay Ban Nha
        </div>
        <button>Mua hang</button>
        <div class = "description">Ban hay danh giá sản phẩm của chúng tôi </div>
    </div>
    <div>
        <img src= "" alt = "">
        <div class = "production">
            Túi sách làm từ nước Mỹ
        </div>
        <button>Mua hang</button>
        <div class= "description">Ban hay danh gia san pham cua chung toi</div>
    </div>

    <footer>
        KET THUC BAI HOC LAP TRINH NODEJS
    </footer>






</body>
</html>