<footer class = "footer" style="margin-top:24px">
    <div class = "footer-left" style="display: flex; justify-content:space-evenly;">
        <ul style="color: blue;">
            <li>Tác giả: Trần Khắc Nhu</li>
            <li>Người trợ giúp: Chú Ân Fullstack</li>
            <li>Công ty: Một thành viên</li>
        </ul>

         <ul style="color: green;">
            <li>Nội dung: Hoc lập trình web fullstack</li>
            <li>Mức độ: Từ cơ bản đến nâng cao</li>
            <li>Cam kết: Có kiến thức để đi xin việc làm</li>
        </ul>


    </div>
    <div style="text-align: center; color:red; font-size: 24px; margin: 16px 0px;">
        <span>CHÚC CÁC BẠN CÓ MỘT LỘ TRÌNH HỌC TẬP THẬT TỐT TẠI TRANG WEB CỦA CHÚNG TÔI</span>
    </div>
</footer>